{% extends 'page/content.html' %}


{% block content %}
{% for href, id, caption in pages %}
<div class="col-lg-4">
    <h2 class="reddit-title text-center"><a href="{{ href|e }}">{{ caption }}</a></h2>
    <div class="favorat-content" id="{{ id|e }}">
        {% if caption == 'Reddit' %}
            {% for title, sub, ups, url in top_posts %}
            <p class="col-lg-2"><span class="glyphicon glyphicon-arrow-up">{{ ups }}</span></p>
            <div class="col-lg-10">
                <p id="{{ id }}-list"><a href="{{ url }}" target="_blank">{{ title }}</a>
                <p class="reddit-sub">/r/{{ sub }}</p>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}